* {
    box-sizing: border-box;

}

body {
    background-color: var(--background-color);
    position: relative;
    margin: 0;

}
::-webkit-scrollbar {
    display: none;
}
:root {
    --delault-margin: 50px;
}